
.dialog-container {
  position:absolute;
  background:lavender;
  z-index:998;
  overflow:hidden;
  white-space:nowrap;
  width: 10rem;
  height: 4rem;
  padding:10px;
  font-size: 14px;
  border: 2px black solid;
  border-radius: 3px;
  text-align: center;
  transition: width .5s, opacity .4s;
}

.dialog-input {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  z-index: 999;
  font-size:14px;
  background:white;
}
td, th {
  width: 20rem;
  height: 4rem;
  border-radius:3px;
  border: 3px solid blue;
  text-align: center;
}

th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 1rem;
}
.redips-drag {
  padding:10px 0px;
  margin:10px;
  border: 3px solid #aaa;
}
.redips-drag:hover {
  background:orange;
}
.redips-clone {
  padding:10px 0px;
  margin:10px;
  border: 3px solid #aaa;
}
.redips-clone:hover {
  background:orange;
}
.redips-trash {
  background:#FF0000;
}
.redips-trash:hover {
  background:#FF5347;
}
.newPerson {
  background:#3AFF68;
}
.newPerson:hover {
  background:#5EFF92;
}
